<ion-header>
  <ion-toolbar>
    <ion-title>Heroes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div *ngIf="loading" style="padding: 20px; font-size: 20px;">
    Loading...
  </div>

 <div *ngIf="!loading" style="padding: 10px;">
  <div *ngFor="let hero of comics"
       (click)="openDetail(hero.id)"
       style="display: flex; align-items: center; gap: 12px; padding: 12px; border-bottom: 1px solid #ccc; cursor: pointer;">

    <img [src]="hero.images.sm"
         alt="{{ hero.name }}"
         style="width: 60px; height: 60px; border-radius: 8px; object-fit: cover;">

    <div>
      <div style="font-size: 18px; font-weight: bold;">
        {{ hero.name }}
      </div>

      <div style="font-size: 14px; color: #555;">
        {{ hero.biography.publisher }}
      </div>
    </div>

  </div>
</div>

  <div style="color: black; font-size: 20px; margin-top: 20px;">
    Loaded: {{ comics.length }}
  </div>

</ion-content>
