<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="favouriteHeroes.length > 0">
    <ion-item 
      button 
      detail 
      *ngFor="let hero of favouriteHeroes"
      (click)="openHero(hero.id)"
    >
      <ion-avatar slot="start">
        <img [src]="hero.images?.sm" />
      </ion-avatar>

      <ion-label>
        <h2>{{ hero.name }}</h2>
        <p>{{ hero.biography?.publisher }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="favouriteHeroes.length === 0" class="empty">
    <p>No favourites yet</p>
  </div>

</ion-content>
