<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SuperHero Viewer Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card style="margin: 16px;">
    <ion-card-header>
      <ion-card-title>Welcome to Superhero Viewer</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Browse heroes from brands like Darkhorse, Marvel, and DC, save favourites, and explore details.
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" routerLink="/heroes" style="margin: 16px;">
    View Heroes
  </ion-button>

  <ion-button expand="block" routerLink="/favourites" color="secondary" style="margin: 16px;">
    View Favourites
  </ion-button>

</ion-content>
